    <h2>
      Get first letters and punctuation
    </h2>

    <form action="/submit_text" method="post">
      
      <div>
        <label for="evaluation_box">
          Text
        </label>

        <input type="text" id="evaluation_box" name="query_evaluation">
      </div>

      <button>
        Submit
      </button>
    </form>
